Click==7.0
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.6
GDAL==2.3.1
include-server==3.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycairo==1.17.1
PyGObject==3.30.1
six==1.11.0
Werkzeug==0.14.1
