body {
    color: red;
}


.FolderEntry {
    /*    background-color: grey; */
    text-decoration: underline;
    font-weight: bold;
    margin-left: 0;
}

.FileEntry {
    background-color: white;
    margin-left: 0;
}

