body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    overflow: auto;
}

.folder-entry, .file-entry {
    border: none;
    margin-left: 0;
    padding: 0;
}

.folder-entry-name, .file-entry-name {
    color: black;
    display: inline;
    padding-left: 5px;
}

.folder-entry-name:hover, .file-entry-name:hover {
    color: #47b9de;
}

.playing-entry {
    background-color: lightblue;
}

.exclude-btn {
    padding-right: 5px;
}

#curinfo-track {
    font-weight: bold;
}

#curinfo-time, #curinfo-totaltime {
    display: inline-block;
}

.folder-body {
    padding-left: 10px;
    border-left: 1px dotted black;
}

.input-strip {
    background-color: #222;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-repeat: repeat-x;
    border: 1px solid transparent;
    border-color: #080808;
    border-radius: 3px;
    border-width: 0 0 1px;
    color: #9d9d9d;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.settings-strip {
    top: -1px;
}

.settings-btn > [type="button"] {
    color: #9d9d9d;
}


.media-btn-strip {
    align: center;
    bottom: -1px;
    text-align: center;
}

.media-btns {
    display: block;
}

.media-btns > button, .input-group-btn > button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #9d9d9d;
    text-align: center;
}

.media-btns > button {
    height: 32px;
    width: 48px;
}

.media-btns > button.active {
    color: lime;
}

.search-box [type="text"] {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
}


 /*Disable boot strap collapse/expand animations*/
.collapsing {
    transition: none;
    -webkit-transition: none;
}

.nowplaying {
    display: none;
    text-align: center;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color:rgba(0,0,0,0.9);
    color: white;
    padding-bottom: 100px;
    z-index: 1;
}

.nowplaying [role="button"] {
		display: block;
		color: #9d9d9d;
}

.file-listing {
    overflow-y: scroll;
    padding-bottom: 65px;
}

.cover-art {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    max-width: 500px;
}

.settings-btn, .search-box {
    display: inline-block;
    float: right;
    margin: 8px 8px 8px 0;
    padding: 0;
    white-space: nowrap;
}

.settings-btn {
    max-width: 36px;
}

.default-art {
    background-image: url('../img/default_album_art.png');
}

.screen-center {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.block-click {
    pointer-events: none;
}

.disabled-folder {
    text-decoration: line-through;
    pointer-events: none;
}
