body {
    padding-top: 65px;
    height: 100%;
}


.FolderEntry {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 0;
}

.FileEntry {
    background-color: white;
    margin-left: 0;
}

.PlayingEntry {
    background-color: lightblue;
}

#dirlist {

}


.curInfo {
    display: inline-block;
    width: 50%;
}

#curInfo-artist, #curInfo-album, #curInfo-title {
    display: inline-block;
}
