<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Remote Music Player Web Interface</title>
    <link rel="shortcut icon" href="/static/img/default_album_art.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/MusicPlayer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/MediaButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="auth-layer">
      <div class="authbox">
        <div>Password:</div>
        <input role="password-field" type="password">
        <input role="login-btn" type="button" value="Ok">
      </div>
    </div>
    <div class="bg blurred">
      <div class="bg-content" role="background-cover"></div>
    </div>
    <div class="content flex fit-box" role="content">
      <nav class="flex-span">
        <i id="top-notch" class="fa fa-fw fa-hand-peace-o"></i>
        <form class="search-box">
          <button id="search-btn" class="faux">
            <i class="fa fa-search"></i>
          </button>
          <div class="input-helper">
            <input id="search-txt" type="text" placeholder="Song Title..."/>
            <button id="search-btn-clear" class="faux helper faded">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </form>
        <div class="settings-container">
          <button role="open-settings" class="faux">
            <i class="fa fa-fw fa-cog"></i>
          </button>
          <div id="settings-menu" role="settings"  class="settings inactive">
            <table>
              <tbody>
                <tr>
                  <th>Stream Format</th>
                  <td>
                    <select id="stream-format"></select>
                  </td>
                </tr>
                <tr>
                  <th>Stream Quality</th>
                  <td>
                    <select id="stream-quality">
                      <option value="-1" selected="selected">Default</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>Transcoding</th>
                  <td>
                    <select id="transcoding-option">
                      <option value="false" selected="selected">Only Unsupported Files</option>
                      <option value="true">All Files</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button id="rescan-btn" role="update-library">
                      Update Library
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button id="fullscreen-btn" role="toggle-fullscreen">
                      Toggle Full Screen
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nav>
      <div class="flex-hold fit-box">
        <div class="fit-box scroll-y listing">
          <div class="file-listing" role="listroot">
            <div role="tablist" id="dirlist"></div>
          </div>
        </div>
      </div>
      <div class="flex-span controls-container">   
        <div class="controls">
          <button role="toggle-player" class="faux">
            <i class="fa fa-fw fa-toggle-up"></i>
          </button>
          <button role="prev" class="faux">
            <i class="fa fa-fw fa-backward"></i>
          </button>
          <button role="play" class="bool-toggle faux">
            <i class="fa fa-fw fa-play toggle-off"></i>
            <i class="fa fa-fw fa-pause toggle-on"></i>
          </button>
          <button role="next" class="faux">
            <i class="fa fa-fw fa-forward"></i>
          </button>
          <button role="shuffle" class="faux">
            <i class="fa fa-fw fa-random"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="now-playing inactive fit-box" role="currently-playing">
      <div class="bg blurred">
        <div class="bg-content" role="background-cover"></div>
      </div>
      <div class="flex fit-box internal">
        <div class="bg artwork">
          <div role="background-cover" 
               class="bg-content"
               style="background-image: url('static/img/default_album_art.png');"></div>
        </div>
        <div class="flex-hold">
          <div id="curinfo-path" class="hidden"></div>
          <div id="curinfo-track">No Track Playing</div>
          <div id="curinfo-artist">&mdash;</div>
          <div class="scrub-time flex">
            <p id="curinfo-time" class="flex-span scrub-digits">0:00</p>
            <div class="flex-hold">
              <div class="fit-box scrub-container">
                <div id="scrub-box" class="scrub-box">
                  <div id="scrubber" class="scrub-slider"></div>
                </div>
              </div>
            </div>
            <p id="curinfo-totaltime" class="flex-span scrub-digits">0:00</p>
          </div>
          <div class="controls">
            <button role="open-location" class="faux">
              <i class="fa fa-fw fa-link"></i>
            </button>
            <button role="prev" class="faux">
              <i class="fa fa-fw fa-backward"></i>
            </button>
            <button role="play" class="bool-toggle faux">
              <i class="fa fa-fw fa-play toggle-off"></i>
              <i class="fa fa-fw fa-pause toggle-on"></i>
            </button>
            <button role="next" class="faux">
              <i class="fa fa-fw fa-forward"></i>
            </button>
            <button role="shuffle" class="faux">
              <i class="fa fa-fw fa-random"></i>
            </button>
          </div>
        </div>
      </div>
      <button role="toggle-player" class="toggle-player-btn faux">
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>
    <div role="load-screen" class="loader-container">
      <div class="hidden" role="load-text">Touch the screen to start playing!</div>
      <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
      </div>
    </div>
  </body>
</html>
