<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Remote Music Player Web Interface</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
  <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
  <script src="{{ url_for('static', filename='js/MusicLibrary.js') }}"></script>
  <script src="{{ url_for('static', filename='js/MediaButtons.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Reactor.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
  
  <header class="cl-white">
		<div class="mast">
			<div>
				<i class="fa fa-hand-peace-o"></i>
			</div>
			<div class="expand-flex"></div>
			<div>
				<form class="search">
					<button id="search-btn" class="fux">
						<i class="fa fa-fw fa-search" aria-hidden="true"></i>
					</button>
					<input id="search-txt" type="text" class="fux cl-white" placeholder="Search...">
					<button id="search-btn-clear" class="fux fad">
						<i class="fa fa-fw fa-times" aria-hidden="true"></i>
					</button>
				</form>
			</div>
			<div class="tools">
				<button role="open-settings" class="fux">
					<i class="fa fa-gear" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		<div role="settings" class="settings">
			<table>
				<tbody>
					<tr>
						<th>Format</th>
						<td>
							<select id="stream-format"></select>
						</td>
					</tr>
					<tr>
						<th>Stream Quality</th>
						<td>
							<select id="stream-quality">
								<option value="-1" selected="selected">Default</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Transcoding</th>
						<td>
							<select id="transcoding-option">
								<option value="false" selected="selected">Only Unsupported Files</option>
								<option value="true">All Files</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
  </header>

  <content class="listing">
    <div class="fill-flex">
      <div role="now-playing" class="now-playing">
				<div class="bg">
					<div class="bg-artwork" role="background-cover-art"></div>
				</div>
				<div class="info">
        	<div class="artwork" 
							 role="background-cover-art" 
							 style="background-image: url('static/img/default_album_art.png')"/>
					</div>
          <p id="curinfo-track" class="bold">No track is playing.</p>
					<p>
            <span id="curinfo-time">--:--</span> / <span id="curinfo-totaltime">--:--</span>
					</p>
				</div>
      </div>
            
      <div class="root-listing" role="root-listing">
        <ul id="dirlist" class="directory-listing"></ul>
      </div>
    </div>
  </content>

  <footer class="cl-white">
    <div class="controls media-btnbox">	  
      <span class="input-group media-btns">
        <button class="fux" id="media-btn-exit">
          <i class="fa fa-fw fa-picture-o" aria-hidden="true"></i>
        </button>

        <button class="fux" id="media-btn-prev">
          <i class="fa fa-fw fa-step-backward" aria-hidden="true"></i>
        </button>

        <button class="fux" id="media-btn-play">
          <i id="media-btn-play-icon" class="fa fa-fw fa-play" aria-hidden="true"></i>
        </button>

        <button class="fux" id="media-btn-next">
          <i class="fa fa-fw fa-step-forward" aria-hidden="true"></i>
        </button>

        <button class="fux" id="media-btn-shuffle">
          <i class="fa fa-fw fa-random" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </footer>

	<div role="global-loader" class="loaderContainer">
		<div class="loader">
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__ball"></div>
		</div>
	</div>

	
</body>
</html>
